.open {
    display: none;
}



body {
    background-image: url(./assets/img/logo\ \(2\).gif);
    background-position: center;
    background-repeat: repeat;
    background-size: 15vw ; /* Isso ajusta a imagem para cobrir toda a área do body */
    /* Adicione outras propriedades de estilo conforme necessário */
    transition: background-size 0.5s ease;
}



body {
    margin: 0; /* Remover a margem padrão do body para garantir um layout consistente */
    padding: 0; /* Remover o preenchimento padrão do body */
    min-height: 100vh; /* Garantir que o body ocupe pelo menos a altura total da viewport */
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto; /* Ajusta a margem superior para empurrar o footer para o final da página */
  
    color: #fff; /* Cor de texto opcional para o footer */
    padding: 10px; /* Espaçamento interno para o footer */
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    
    color: #fff;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    padding: 5px;
    display: inline-block;
}

footer p {
    font-size: 30px; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold; /* Adiciona negrito ao texto */
}

ul.redes-sociais {
    list-style: none; /* Remove os marcadores de lista */
    padding: 0;
}

ul.redes-sociais li {
    display: inline-block; /* Exibe os itens da lista em linha */
    margin-right: 10px; /* Adiciona espaçamento entre os itens */
}

ul.redes-sociais li a {
    text-decoration: none;
    color: #e7dcdc; /* Cor dos links */
    font-weight: bold; /* Adiciona negrito aos links */
}

/* Adicione o resto do seu estilo abaixo desta linha */
@keyframes fadeIn {
    from {
        opacity: 0; /* Opacidade inicial */
    }
    to {
        opacity: 1; /* Opacidade final */
    }
}



