
/* Menu */
.container_menu > .logo > img{
    width: 125px;
}
.container_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #AE9279;
}
.container_menu > .pc{
    padding: 40px 0;
}
.container_menu > .pc > a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-family: serif;
}
/*Mobile*/
.container_menu > .mobile > button > img{
    width: 40px;
   
}
.container_menu > .mobile > button{
    display: none;
}
.mobile-menu{
    display: none;
}
.mobile-menu > ul{
    display: flex;
    text-align: center;
    padding-bottom: 1rem;
    flex-direction: column;
}
.mobile-menu > ul > li{
    padding-top: 1.2rem;
    display: block;
}
.mobile-menu > ul > li> a{
    text-decoration: none;
    color: #AE9279;
}
.open{
    display: none;
}


/*Capa Inicial*/
.container_capa > .capa{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/home_bg_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container_capa > .capa > h1{
    color: #AE9279;
    font-size: 50px;
    padding-top: 150px;
}
.container_capa > .capa > p{
    color: white;
    font-size: 30px ;
    max-width: 550px;
    text-align: center;
}



/*Responsividade*/
@media (max-width: 1000px){

    /*Menu*/
    .container_menu{
        padding-left: 100px;
        padding-right: 100px;
    }

    /*Capa*/
    .container_capa > .capa > h1{
        font-size: 40px;
    }
    .container_capa > .capa > p{
        font-size: 25px ;
        max-width: 500px;
    }
    .container_capa > .capa{
        height: 700px;
    }
}


@media(max-width: 650px){

    /*Menu*/
    .container_menu > .pc{
        display: none;
    }
    /*Mobile*/
    .container_menu{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container_menu > .logo{
        margin-left: 50px;
    }
    .container_menu > .mobile > button{
        display: flex;
        background-color: transparent;
        border: none;
        cursor: pointer
    }
    .open{
        display: block;
    }
    /*Capa*/
    .container_capa > .capa > h1{
        font-size: 30px;
    }
    .container_capa > .capa > p{
        font-size: 20px ;
        max-width: 350px;
    }
    
    .container_capa > .capa{
        height: 600px;
    }
}

@media(max-width: 500px){
    /*Capa*/
    .container_capa > .capa > h1{
        font-size: 25px;
    }
    .container_capa > .capa > p{
        font-size: 15px ;
        max-width: 250px;
    }
    
    .container_capa > .capa{
        height: 500px;
    }
}

@media(max-width: 400px){
    /*Capa*/
    .container_capa > .capa > h1{
        font-size: 17px;
    }
    .container_capa > .capa > p{
        font-size: 15px ;
        max-width: 200px;
    }
    
    .container_capa > .capa{
        height: 450px;
    }
}