

.open{
    display: none;
}


/*Capa Inicial*/
.container_capa > .capa{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/home_bg_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 13px 5px 0px rgba(174,146,121,0.87);
    -webkit-box-shadow: 0px 13px 5px 0px rgba(174,146,121,0.87);
    -moz-box-shadow: 0px 13px 5px 0px rgba(174,146,121,0.87);
}
.container_capa > .capa > h1{
    color: #AE9279;
    font-size: 50px;
    padding-top: 150px;
}
.container_capa > .capa > p{
    color: white;
    font-size: 30px ;
    max-width: 550px;
    text-align: center;
}
/*Filtro*/
.container_filtro{
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
}
.container_filtro > .filtro_button > button{
    border: none;
    background-color: transparent;
}
.container_filtro > .filtro_button > button > img{
    width: 15px;
}
.container_filtro > .filtros_receitas {
    margin-top: 20px;
}

/*Sobre*/
.container_sobre{
    margin: 1rem 2rem;
    color:#AE9279;
}
.sobre{
    padding: 1rem 2rem;
    background-color: #AE9279;
}
.sobre ul{
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.sobre p{
    text-align: justify;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}


/*Responsividade*/
@media (max-width: 1000px){


    /*Capa*/
    .container_capa > .capa > h1{
        font-size: 40px;
    }
    .container_capa > .capa > p{
        font-size: 25px ;
        max-width: 500px;
    }
    .container_capa > .capa{
        height: 700px;
    }
}


@media(max-width: 650px){

    
    .open{
        display: block;
    }
    /*Capa*/
    .container_capa > .capa > h1{
        font-size: 30px;
    }
    .container_capa > .capa > p{
        font-size: 20px ;
        max-width: 350px;
    }
    
    .container_capa > .capa{
        height: 600px;
    }
}

@media(max-width: 500px){
    /*Capa*/
    .container_capa > .capa > h1{
        font-size: 25px;
    }
    .container_capa > .capa > p{
        font-size: 15px ;
        max-width: 250px;
    }
    
    .container_capa > .capa{
        height: 500px;
    }
}

@media(max-width: 400px){
    /*Capa*/
    .container_capa > .capa > h1{
        font-size: 17px;
    }
    .container_capa > .capa > p{
        font-size: 15px ;
        max-width: 200px;
    }
    
    .container_capa > .capa{
        height: 450px;
    }
}

